{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <h1>Login</h1>
    {% if error %}
        <div>{{ error.messageKey }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
            </div>
        </div>

        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="_password">
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}
